%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
  = devise_error_messages!
  .field.control_group
    = f.label t(:name), :class => 'control-label'
    .controls
      = f.text_field :name
  .field.control_group
    = f.label :email, :class => 'control-label'
    .controls
      = f.email_field :email
  .field.control_group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password
  .field.control_group
    = f.label :password_confirmation, :class => 'control-label'
    .controls
      = f.password_field :password_confirmation
  %div= f.submit "Sign up", :class => 'btn'
= render "devise/shared/links"