%p#notice= notice

%p
  %b== #{t('kabupaten.name').titleize}:
  = @sector.send("name_#{locale}")
%p
  %b== #{t('kabupaten.description').titleize}:
  = @sector.send("description_#{locale}")

= link_to 'Edit', edit_sector_path(@sector)
\|
= link_to 'Back', sectors_path
