%p#notice= notice

%p
  %b== #{t('kabupaten.name').titleize}:
  = @sector.name
%p
  %b== #{t('kabupaten.description').titleize}:
  = @sector.description

= link_to 'Edit', edit_sector_path(@sector)
\|
= link_to 'Back', sectors_path
