- if @province
  - @page_title = "#{t('kabupaten.kabupaten_list')} #{t('general.in')} #{@province.name}"
- else
  - @page_title = t('kabupaten.kabupaten_list')
- @body_class = "kabupatens"

- if @kabupatens.present?

  %p= page_entries_info @kabupatens

  %table.table.table-striped
    %tr
      %th= t('kabupaten.province')
      %th= t('kabupaten.kabupaten_name')
      %th.right
        = t('kabupaten.area')
        = raw("(km<sup>2</sup>)")
      %th.right= t('kabupaten.population')
      %th.right= t('kabupaten.density')
      %th

    - @kabupatens.each do |kabupaten|
      %tr
        %td= link_to kabupaten.province.name, kabupaten.province
        %td= link_to kabupaten.category_name, kabupaten
        %td.right= number_with_delimiter(kabupaten.area)
        %td.right= number_with_delimiter(kabupaten.population)
        %td.right= number_with_delimiter(kabupaten.density)
        %td.btn.btn-mini= link_to 'Edit', edit_kabupaten_path(kabupaten)

  = will_paginate @kabupatens

-else
  %p There are no kabupatens to list
%br

- if can? :manage, Kabupaten
  = link_to 'Add New', new_kabupaten_path, :class => 'btn btn-primary'
