- @page_title = "Kabupatens"
- @body_class = "kabupatens"

%table.table.table-striped
  %tr
    %th Province
    %th Name
    %th Area
    %th Population
    %th 

  - @kabupatens.each do |kabupaten|
    %tr
      %td= kabupaten.province.name
      %td= link_to kabupaten.name, kabupaten
      %td= kabupaten.area
      %td= kabupaten.population
      %td.btn.btn-mini= link_to 'Edit', edit_kabupaten_path(kabupaten)

%br

= link_to 'Add New', new_kabupaten_path, :class => 'btn btn-primary'
