%h1 Listing kabupatens

%table
  %tr
    %th Name
    %th Description
    %th Area
    %th Population
    %th Province
    %th
    %th
    %th

  - @kabupatens.each do |kabupaten|
    %tr
      %td= kabupaten.name
      %td= kabupaten.description
      %td= kabupaten.area
      %td= kabupaten.population
      %td= kabupaten.province_id
      %td= link_to 'Show', kabupaten
      %td= link_to 'Edit', edit_kabupaten_path(kabupaten)
      %td= link_to 'Destroy', kabupaten, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Kabupaten', new_kabupaten_path
