%style
  :sass
    div
      .actions
        margin-bottom: 20px

- @page_title = @kabupaten.category_name
- @body_class = "kabupatens"

/ %p#notice= notice

#kabupaten_description
  = raw(@kabupaten.description || "&nbsp;")
- if Translate.for_translation?(@kabupaten, 'description')
  .alert{style: 'margin-top: 10px'}
    = t('kabupaten.translate_alert')
    %br
    - translate_button('kabupaten_description')

- content_for :sidebar do
  .actions
    = link_to t('kabupaten.project_list'), projects_path(filter: { :kabupaten_id => @kabupaten.id })
  %p
    %b= raw("#{t('kabupaten.area')} (km<sup>2</sup>):")
    = number_with_delimiter(@kabupaten.area)
  %p
    %b= "#{t('kabupaten.population')}:"
    = number_with_delimiter(@kabupaten.population)
  %p
    %b= "#{t('kabupaten.capital')}:"
    = @kabupaten.capital
  %p
    %b= "#{t('kabupaten.province')}:"
    = @kabupaten.province.name

- content_for :bottom do
  - if can? :update, @project
    = link_to 'Edit', edit_kabupaten_path(@kabupaten), :class => 'btn'
  = link_to 'Back', kabupatens_path, :class => 'btn'
