- @page_title = @kabupaten.category_name
- @body_class = "kabupatens"

/ %p#notice= notice

%p
  = @kabupaten.send("description_#{locale}")

- content_for :sidebar do
  %p
    %b= raw("#{t('kabupaten.area')} (km<sup>2</sup>):")
    = number_with_delimiter(@kabupaten.area)
  %p
    %b= "#{t('kabupaten.population')}:"
    = number_with_delimiter(@kabupaten.population)
  %p
    %b= "#{t('kabupaten.capital')}:"
    = @kabupaten.capital
  %p
    %b= "#{t('kabupaten.province')}:"
    = @kabupaten.province.name

- content_for :bottom do
  = link_to 'Edit', edit_kabupaten_path(@kabupaten), :class => 'btn'
  = link_to 'Back', kabupatens_path, :class => 'btn'
