= form_for @project, :html => { :class => 'form-horizontal' } do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field.control-group
    = f.label t(:title), :class => 'control-label'
    .controls
      = f.text_field "name_#{locale}".to_sym, :class => 'text_field'
  .field.control-group
    = f.label t(:description), :class => 'control-label'
    .controls
      = f.text_area "description_#{locale}".to_sym, :cols => 100, :rows => 5, :class => 'text_area'
  .field.control-group
    = f.label t(:kabupaten).titleize, :class => 'control-label'
    .controls
    / = f.number_field :kabupaten_id
  .field.control-group
    = f.label t(:sector).titleize, :class => 'control-label'
    .controls
    / = f.number_field :sector_id
  .actions.form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
