= form_for @project, :html => { :class => 'form-horizontal' } do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field.control-group
    = f.label t('kabupaten.title'), :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .field.control-group
    = f.label t('kabupaten.description'), :class => 'control-label'
    .controls
      = f.text_area :description, :cols => 100, :rows => 5, :class => 'text_area'
  .field.control-group
    = f.label t('kabupaten.location').titleize, :class => 'control-label'
    .controls

      #kabupatens
        %table.simple_list
          %thead
            %tr
              %th{ :colspan => 3 } &nbsp;
              %th
                = link_to_add_association f, :project_kabupaten_mappings, { 'data-association-insertion-node' => '#kabupatens .nested-fields:last', 'data-association-insertion-position' => 'after' } do
                  - add_button
          %tbody
            = f.fields_for :project_kabupaten_mappings do |ff|
              = render :partial => 'project_kabupaten_mapping_fields', :locals => { :f => ff }

  .field.control-group
    = f.label t('kabupaten.sector').titleize, :class => 'control-label'
    .controls
      - Sector.by_name.each do |sector|
        %label.checkbox
          = check_box_tag("sector_ids[]", sector.id, @project.sectors.include?(sector), :id => "sector_#{sector.id}")
          = sector.name


  .actions.form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
