- @page_title = t :project_list
- @body_class = "projects"

- if @projects.present?

  %p= page_entries_info @projects

  %table.table.table-striped
    %tr
      %th= t('title').titleize
      %th= t('description').titleize
      %th= t('location').titleize
      %th= t('sector').titleize
      %th

    - @projects.each do |project|
      %tr
        %td
          = link_to project.locale_attr_or_alt("name"), project
          - for_translation_haml(project, "name")
        %td
          - locale_attr_or_alt_haml(project, "description")
        %td= project.kabupatens.map(&:category_name).join(', ')
        %td= project.sectors.map(&"name_#{locale}".to_sym).sort.join(', ')
        - if can? :update, project
          %td.btn.btn-mini= link_to 'Edit', edit_project_path(project)
        -else
          &nbsp;

  = will_paginate @projects

-else
  %p There are no projects to list
%br

= link_to 'Submit a Project', new_project_path, :class => 'btn btn-primary'
