- if @kabupaten
  - @page_title = "#{t('kabupaten.project_list')} #{t('general.in')} #{@kabupaten.category_name}"
- else
  - @page_title = t('kabupaten.project_list')

- @body_class = "projects"

- if @projects.present?

  - unless @kabupaten
    = form_tag projects_path, method: :get do
      = hidden_field_tag :kabupaten_id
      %input{:type => 'submit', :value => t('kabupaten.buttons.in_kabupaten'), class: 'enable_on_input btn', style: 'vertical-align: top', disabled: true}
      = autocomplete_field_tag :name, '', autocomplete_kabupaten_name_kabupatens_path, class: 'enable_submit', id_element: "#kabupaten_id"

  %p= page_entries_info @projects

  %table.table.table-striped
    %tr
      %th{style: 'width:20%'}= t('kabupaten.title').titleize
      %th= t('kabupaten.description').titleize
      %th{style: 'width:15%'}= t('kabupaten.location').titleize
      %th{style: 'width:15%'}= t('kabupaten.sector').titleize

    - @projects.each do |project|
      %tr
        %td
          = link_to project.name, project
        %td
          = strip_tags(project.description).try(:truncate, 300)
        %td
          = raw(project.kabupatens.map{|k| link_to k.category_name, kabupaten_path(k.id)}.join(', '))
        %td= project.sectors.map(&:name).sort.join(', ')

  = will_paginate @projects

-else
  %p There are no projects to list
%br

= link_to 'Submit a Project', new_project_path, :class => 'btn btn-primary'
