- @page_title = t('kabupaten.project_list')
- @body_class = "projects"

- if @projects.present?

  %p= page_entries_info @projects

  %table.table.table-striped
    %tr
      %th= t('kabupaten.title').titleize
      %th= t('kabupaten.description').titleize
      %th= t('kabupaten.location').titleize
      %th= t('kabupaten.sector').titleize
      %th

    - @projects.each do |project|
      %tr
        %td
          = link_to project.name, project
        %td
          = project.description
        %td= project.kabupatens.map(&:category_name).join(', ')
        %td= project.sectors.map(&:name).sort.join(', ')
        - if can? :update, project
          %td.btn.btn-mini= link_to 'Edit', edit_project_path(project)
        -else
          &nbsp;

  = will_paginate @projects

-else
  %p There are no projects to list
%br

= link_to 'Submit a Project', new_project_path, :class => 'btn btn-primary'
