- @page_title = t :project_list
- @body_class = "projects"

- if @projects.present?

  %table.table.table-striped
    %tr
      %th= t('name').titleize
      %th= t('description').titleize
      %th= t('kabupaten').titleize
      %th= t('sector').titleize
      %th

    - @projects.each do |project|
      %tr
        %td= link_to project.send("name_#{locale}"), project_path(project)
        %td= project.send("description_#{locale}")
        %td= project.kabupatens.map(&:category_name).join(', ')
        %td= project.sectors.map(&:name).join(', ')
        %td.btn.btn-mini= link_to 'Edit', edit_project_path(project)

  = will_paginate @projects

-else
  %p There are no projects to list
%br

= link_to 'New Project', new_project_path, :class => 'btn btn-primary'
