- @page_title = @project.send("name_#{locale}")
- @body_class = "projects"

/ %p#notice= notice

%p.user
  Created by
  = link_to @project.user.name, user_path(@project.user)
%p
  %b== #{t('title').titleize}:
  = @project.send("name_#{locale}")
%p
  %b== #{t('description').titleize}:
  = @project.send("description_#{locale}")
%p
  %b== #{t('kabupaten').titleize}:
  = @project.kabupatens.map(&:category_name).join(', ')
%p
  %b== #{t('sector').titleize}:
  = @project.sectors.map(&"name_#{locale}".to_sym).sort.join(', ')

- if can? :update, @project
  = link_to 'Edit', edit_project_path(@project), :class => 'btn'
= link_to 'Back', projects_path, :class => 'btn'
