- @page_title = @project.name
- @body_class = "projects"

/ %p#notice= notice

%p.user
  Created by
  = link_to @project.user.name, user_path(@project.user)

#project_description
  = raw(@project.description)
- if Translate.for_translation?(@project, 'description')
  - translate_button('project_description')

%table.simple_table{style: 'margin-top: 20px'}
  %tr
    %th== #{t('kabupaten.location').titleize}:
    %td
      - @project.kabupatens.each do |kabupaten|
        %strong= "#{kabupaten.province.name}: "
        = link_to kabupaten.category_name, kabupaten
        %br
  %tr
    %th== #{t('kabupaten.sector').titleize}:
    %td
      - @project.sectors.sort_by(&:name).each do |sector|
        = sector.name
        %br

- if can? :update, @project
  = link_to 'Edit', edit_project_path(@project), :class => 'btn'
= link_to 'Back', projects_path, :class => 'btn'
