- @page_title = t('activerecord.models.province.zero').titleize
- @body_class = "provinces"

%table.table.table-striped
  %tr
    %th= t :name
    %th= t :description
    %th.right
      = t :area
      = raw("(km<sup>2</sup>)")
    %th.right= t :population
    %th.right= t :density
    %th

  - @provinces.each do |province|
    %tr
      %td= link_to province.name, province
      %td= province.description_en
      %td.right= number_with_delimiter(province.area)
      %td.right= number_with_delimiter(province.population)
      %td.right= number_with_delimiter((province.population / province.area.to_f).ceil) if province.area.present?
      %td.btn.btn-mini= link_to 'Edit', edit_province_path(province)

%br

= link_to 'Add New', new_province_path, :class => 'btn btn-primary'
