- @page_title = t('activerecord.models.province.zero').titleize
- @body_class = "provinces"

%table.table.table-striped
  %tr
    %th= t('kabupaten.name')
    %th= t('kabupaten.description')
    %th.right
      = t('kabupaten.area')
      = raw("(km<sup>2</sup>)")
    %th.right= t('kabupaten.population')
    %th.right= t('kabupaten.density')
    %th

  - @provinces.each do |province|
    %tr
      %td= link_to province.name, province
      %td= province.description
      %td.right= number_with_delimiter(province.area)
      %td.right= number_with_delimiter(province.population)
      %td.right= number_with_delimiter(province.density)
      %td.btn.btn-mini= link_to 'Edit', edit_province_path(province)

%br

- if can? :manage, Province
  = link_to 'Add New', new_province_path, :class => 'btn btn-primary'
