- @page_title = "#{(t :province)} #{@province.name}"
- @body_class = "provinces"

/ %p#notice= notice

%p
  = @province.send("description_#{locale}")
  
- content_for :sidebar do

  %p
    %b= "#{t :area}:"
    = @province.area
  %p
    %b= "#{(t :population)}:"
    = @province.population

- content_for :bottom do
  = link_to 'Edit', edit_province_path(@province), :class => 'btn'
  = link_to 'Back', :back, :class => 'btn'
