!!!
%html{ 'lang' => locale }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ name: "google-translate-customization", content: "4d9c898eb7b9dc59-f3255ce5be3f524d-ge71e457f8ee0c1f1-11"}
    %title= @page_title || 'Kabupaten'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "jquery", "bootstrap", "translate"
    = csrf_meta_tag
    = yield :stylesheet_includes

  %body{:class => "#{@body_class}"}
    .container.bg
      #menubar.navbar
        #site-actions.navbar-inner
          %a.brand{ href: root_path } kabupaten.org
          %ul.nav.pull-right
            - if locale == :id
              %li= link_to image_tag('en-flg.gif', title: 'English'), locale_uri('www')
            - else
              %li= link_to image_tag('id-flg.gif', title: 'Bhs Indonesia'), locale_uri('id')
            %li{ class: "#{'active' if current_page?(root_path)}" }= link_to t('kabupaten.home'), root_path
            %li{ class: "#{'active' if controller.controller_name == 'kabupatens'}" }= link_to 'Kabupaten', kabupatens_path
            %li{ class: "#{'active' if controller.controller_name == 'projects'}" }= link_to t('kabupaten.projects').titleize, projects_path
            - if can? :manage, User
              %li{ class: "#{'active' if controller.controller_name == 'users'}" }= link_to 'Users', users_path
            %li{ class: "#{'active' if current_page?(corporate_path(page: "about"))}" }= link_to t('kabupaten.about_us'), corporate_path(page: "about")
            %li{ class: "#{'active' if current_page?(corporate_path(page: "contact"))}"}= link_to t('kabupaten.contact_us'), corporate_path(page: "contact")
            - if current_user
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to t('devise.sessions.sign_out'), destroy_user_session_path, :method => 'delete'
                  %li= link_to t('my_details'), user_path(current_user)
            - else
              %li= link_to t('devise.sessions.sign_in'), new_user_session_path

      %header
        #messages
          - display_flash
        %h2
          = @page_title
      - if content_for? :sidebar
        .row
          .span12.bg
            .row
              .span8
                .main
                  = yield
              .span4
                .sidebar
                  = yield :sidebar
            .bottom-content
              = yield :bottom
      - else
        .row
          .span12.bg
            .main
              = yield

      .bottom-space
        %p &nbsp;

      %footer
        .container
          %p
            %span.footer-link= link_to t('kabupaten.contact_us'), corporate_path(page: "contact")
          %p
            %span.copyright= raw('&copy;') + " #{Time.now.year} kabupaten.org"
            %span.social_networks.pull-right
              %a(href="https://twitter.com/kabupaten_org" class="twitter-follow-button" data-show-count="false") Follow @kabupaten_org
              :plain
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

