!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= @page_title || 'Kabupaten'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield :stylesheet_includes

  %body{:class => "#{@body_class}"}
    #root
      #main.container
        #messages
          - display_flash(:notice, :error, :warning)
        #page{:class => content_given?(:sidebar) ? 'pane' : nil}
          .header
            %h1
              = @page_title
          #contents
            = yield
        - if content_given?(:sidebar)
          #sidebar
            = yield :sidebar
      #root_footer

    #footer
      &copy; 
      = "#{Time.now.year} kabupaten.org"
