!!!
%html{ 'lang' => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= @page_title || 'Kabupaten'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "jquery", "bootstrap"
    = csrf_meta_tag
    = yield :stylesheet_includes

  %body{:class => "#{@body_class}"}
    .container.bg
      #menubar.navbar
        #site-actions.navbar-inner
          %a.brand{ href: root_path } kabupaten.org
          %ul.nav.pull-right
            %li{ class: "#{'active' if current_page?(root_path)}" }= link_to 'Home', root_path    
            %li{ class: "#{'active' if controller.controller_name == 'kabupatens'}" }= link_to 'Kabupaten', kabupatens_path    
            %li{ class: "#{'active' if current_page?(corporate_path(page: "about"))}" }= link_to "About", corporate_path(page: "about")
            %li{ class: "#{'active' if current_page?(corporate_path(page: "contact"))}"}= link_to "Contact us", corporate_path(page: "contact")

      %header
        #messages
          - display_flash
        %h2
          = @page_title
      - if content_for? :sidebar
        .row
          .span12.bg
            .row
              .span8
                .main
                  = yield
              .span4
                .sidebar
                  = yield :sidebar
            .bottom-content
              = yield :bottom
      - else
        .row
          .span12.bg
            .main
              = yield        

      .bottom-space
        %p &nbsp;

      %footer
        .nav-bar.navbar-fixed-bottom
          .container
            %span.copyright= raw('&copy;') + " #{Time.now.year} kabupaten.org"
            %span.social_networks.pull-right
              %a(href="https://twitter.com/kabupaten_org" class="twitter-follow-button" data-show-count="false") Follow @kabupaten_org
              :plain
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      
